// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  display: flex;
  flex-direction: row;

  nav {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;

    .logo {
      width: 20rem;
    }

    .menu {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }
  }
}
